.challengeBoxContainer {
  height: 100%;

  background: var(--white);
  border-radius: 4px; /* Antes: 0.25rem / 5px */
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4; /* 16 * 1.4 = 22,4px*/
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}

.challengeNotActive p img {
  margin-bottom: 1rem;
}

.challengeActive {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem; /* 1.25 x 16px = 20px */
  padding: 0 2rem 1.5rem; /* 0 acima, 2rem nas laterais e 1.5rem abaixo */
  border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
  flex: 1;

  /* estas 4 instruções centralizam o conteudo ao centro */
  display: flex;
  flex-direction: column; /* aqui escolhemos o conteudo um ao lado do outro OU um por baixo do outro */
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem; /* 1.5 acima, 0 nas laterais e 1rem abaixo */
}

.challengeActive main p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;

  grid-template-columns: 1fr 1fr;
  /* OU grid-template-columns: repeat(2, 1fr); ou seja, 2 colunas de 1fr cada */

  gap: 1rem;
}

.challengeActive footer button {
  height: 3rem;
  align-items: center;
  justify-content: center;

  border: 0;
  outline: none; /* Acrescentei pois no hover aparecia uma borda */
  border-radius: 4px; /* Antes: 0.25rem / 5px */

  color: var(--white);

  font-size: 1rem;
  font-weight: 600;

  transition: background-color 0.2s;
  /* transition: filter 0.2s; */
}

.challengeActive footer button.challengeFailedButton {
  background: var(--red);
}

.challengeActive footer button.challengeCompletedButton {
  background: var(--green);
}

/* .challengeActive footer button:hover {
  filter: brightness(0.9);
} */

.challengeActive footer button.challengeFailedButton:hover {
  background: var(--red-dark);
}

.challengeActive footer button.challengeCompletedButton:hover {
  background: var(--green-dark);
}
